body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.product{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightgrey;
    height: 500px;
}
img{
    height: 200px;
    width: auto;
}
.intro button{
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: red;
}
.features{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0px;
}
.features h2 {
    margin-bottom: 20px;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 500px;
}

.features-grid p {
    background-color: lightgray;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}   